@using Common.Data.CommonDataModel
@{
    ViewBag.Title = "Trader Wise Buy Sale Report";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
    var businessDay = (DateTime)ViewBag.BusinessDate;
    var reports = (List<ReportInformation>)ViewBag.Reports;
}
<style type="text/css">
    .panel-custom > .panel-heading {
        /*background: #26B99A !important;*/
        color: #FFFFFF !important;
    }

    .panel-custom .panel-body .row:not(:last-child) {
        margin-bottom: 10px;
    }

    .panel-custom .panel-body .radio {
        margin-top: 0px;
    }

    .panel-custom .panel-body .radio-text, .panel-custom .panel-body input[type=text] {
        color: #73879C;
    }

    .panel-custom .label-container {
        text-align: right;
    }

    input[type=text]:read-only {
        background: #FFFFFF;
        cursor: default;
    }

    #error > .panel {
        margin-bottom: 20px;
    }

        #error > .panel > .panel-heading {
            padding: 0px 5px 0px 15px;
        }

    .radio-container label {
        cursor: pointer;
        padding: 5px;
        white-space: nowrap;
    }

        .radio-container label.active {
            background: #0e73a9;
            border-radius: 4px;
            /*margin-left: 10px;*/
        }

            .radio-container label.active span.radio-text {
                color: #FFFFFF;
            }

    .bordercss {
        border: 3px double #CCCCCC;
        color: black;
    }

        .bordercss:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            border: 2px solid rgba(81, 203, 238, 1);
        }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-success panel-custom">
            <div class="panel-heading PageHeader">
                <h3 class="panel-title">Analysis Report</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 label-container">
                        @Html.Label("Report Name :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10 radio-container">
                        <div class="row">
                            @for (var r = 0; r < reports.Count; r++)
                            {
                                <label class="col-sm-6 @(r==0?"active":"")">
                                    <input type="radio" class="radio radio-inline" @(r == 0 ? "checked='checked'" : "") name="fileType" value="@reports[r].SerialNo" /> <span class="radio-text">@reports[r].ReportName</span>
                                </label>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 label-container">
                        @Html.Label("Transaction Date :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-4">
                        <input type="text" placeholder="dd/mm/yyyy" name="transactionDateFrom" id="txtTransactionDate" class="input-sm form-control DateInput check-date" required="required" value="@businessDay.ToString("dd/MM/yyyy")" />
                    </div>
                    <div class="item form-group" id="divInvCode" style="display:none">
                        @Html.Label("Investor Code", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            @Html.Editor("InvestorCode", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="divTrnsType" style="display:none">
                        @Html.Label("Transaction Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("TransactionList", new SelectList(ViewBag.TransactionList, "Id", "TransactionTypeName"), "All Transaction Type", new { @id = "ddlTransactionList", @class = "form-control bordercss" })
                        </div>
                    </div>
                    <div class="col-sm-2 label-container">
                        @Html.Label("Report Type :", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        <select class="input-sm form-control bordercss" id="cmbReportType">
                            <option value="Pdf" selected="selected">Pdf</option>
                            <option value="ExcelBook">Microsoft Excel</option>
                            <option value="Excel">Microsoft Excel (97-2003)</option>
                            <option value="ExcelData">Microsoft Excel (97-2003) Data-Only</option>
                            <option value="Word">Microsoft Word (97-2003)</option>
                            <option value="XML">XML</option>
                        </select>
                    </div>
                </div>

                <div class="row">

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" name="btnShow" id="btnShow" class="btn btn-sm btn-success" value="Show" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=radio][name=fileType]").on("change", function () {
            $(".radio-container label").removeClass("active");
            $("input[type=radio][name=fileType]:checked").parents("label").addClass("active");
        });
        $("input[type=radio][name=fileType]").change(function () {

            if ($("input[type=radio][name=fileType]:checked").val() == 2) {
                $("#divTrnsType").show();
                $("#divInvCode").show();
            }
            else if ($("input[type=radio][name=fileType]:checked").val() == 3 || $("input[type=radio][name=fileType]:checked").val() == 4) {
                $("#divTrnsType").hide();
                $("#divInvCode").show();
            }
            else {
                $("#divTrnsType").hide();
                $("#divInvCode").hide();
            }

        });

        $(document).on("click", "#btnShow", function () {

            var reportNo = parseInt($("input[type=radio][name=fileType]:checked").val());
            var date = $("#txtTransactionDate").val().trim();
            var reportType = $("#cmbReportType").val();
            if (date == "") {
                $.alert.open("Error", "Please enter from date.");
            }
            else if ($("input[type=radio][name=fileType]:checked").length == 0) {
                $.alert.open("Warning!", "No report selected.");
                return false;
            }
            else {
                var url = "";
                if (reportNo == 1)//
                {
                    url = '/UPMS/TradeReport/ShowSameTimeBuySale?transactionDate=' + date + '&type=' + reportType + "&reportNo=" + reportNo;
                }
                else if (reportNo == 2) {
                    //
                    var TransTypeId = $("#ddlTransactionList").val() == "" ? 0 : $("#ddlTransactionList").val()
                    url = '/UPMS/TradeReport/ShowSufficient_In_Suff_Neg_Charge?transactionDate=' + date + '&InvestorCode=' + $("#InvestorCode").val() + '&TransTypeId=' + TransTypeId + '&type=' + reportType + "&reportNo=" + reportNo;
                }
                else if (reportNo == 3) {
                    url = '/UPMS/TradeReport/Rpt_Investor_Overtrading?TransactionDate=' + date + '&InvestorCode=' + $("#InvestorCode").val() + '&type=' + reportType + "&reportNo=" + reportNo;
                }
                else if (reportNo == 4) {
                    url = '/UPMS/TradeReport/GET_T1_T9_MATURED_BALANCE?maturedDate=' + date + '&InvestorCode=' + $("#InvestorCode").val() + '&type=' + reportType + "&reportNo=" + reportNo;
                }
                else if (reportNo == 5) {
                    url = '/UPMS/TradeReport/ShowMarginBuyAndNonmarginSale?TransactionDate=' + date + '&type=' + reportType + "&reportNo=" + reportNo;
                }
                if (url != "")
                    window.open(url);
            }
            return true;
        });


        //divTrnsType divInvCode
    });
</script>