
@{
    ViewBag.Title = "fundTrxList";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
}


<style>
    .bordercss {
        border: 3px double #CCCCCC;
        color: black;
    }

        .bordercss:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            border: 2px solid rgba(81, 203, 238, 1);
        }

    .required::after {
        content: " *";
        color: red;
    }

    .k-grouping-header {
        background-color: #1ABB9C;
    }

    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }

    #example thead {
        background-color: #1ABB9C;
        height: 180px !important;
    }

        thead .sorting:after {
            display: none !important;
        }
     
    /*thead .sorting_asc:after,
    thead .sorting_desc:after {
        display: none;
    }*/
</style>
@*<script src="~/Content/js/datatables/js/DataTable.js"></script>*@
<script src="~/Content/datatables/js/jquery.dataTables.min.js"></script>
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
@*<script src="~/Content/js/datatables/js/jquery.js"></script>*@
<script type="text/javascript">

    function GetFundTransferInformationEx(InvestorCode, FromDate, ToDate) {
        table.destroy();
        $("#AjaxLoader").show();
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetFundTransferInformation", "IPOGroup", "http")',
            data: { InvestorCode: InvestorCode, FromDate: FromDate, ToDate: ToDate },
            dataType: 'json',
            async: true,
            success: function (InvInfo) {
                // if (data.Result == "Success") {
                var dtTable = $('#example');
                var tableBody = dtTable.find('tbody');
                tableBody.empty();
                var TransNo = "";
                ////TransferNo TransferNoAndDate Id  RowSL  InvestorId  InvestorName Amount TransactionDate Comments SenderReceiver  TransactionDateEx
                $.each(InvInfo, function (id, e) {

                    if (e.TransferType == "LeaderToMember" && e.SenderReceiver == "Sender" || e.TransferType == "InvestorToInvestor" && e.SenderReceiver == "Sender") {

                        tableBody.append(
                      '<tr>' +
                        '<td>' + e.RowSL + '</td>' +
                        '<td>' + e.InvestorName + '</td>' +
                       '<td>' + e.Amount + '</td>' +
                        '<td>' + e.TransactionDate + '</td>' +
                       '<td>' + e.SenderReceiver + '</td>' +
                       '<td>' + e.TransferNoAndDate + '<label style="padding-left:60%"><a  href="/Upms/IPOGroup/FundTransferEdit?TransferNo=' + e.TransferNo + '"  title="Edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></label></td>' +
                       '<td></td>' +

                      '</tr>'
                      );
                    }
                    else if (e.TransferType == "MemberToLeader" && e.SenderReceiver == "Receiver") {
                        tableBody.append(
                                                 '<tr>' +
                                                   '<td>' + e.RowSL + '</td>' +
                                                   '<td>' + e.InvestorName + '</td>' +
                                                  '<td>' + e.Amount + '</td>' +
                                                   '<td>' + e.TransactionDate + '</td>' +
                                                  '<td>' + e.SenderReceiver + '</td>' +
                                                  '<td>' + e.TransferNoAndDate + '<label style="padding-left:60%"><a  href="/Upms/IPOGroup/FundTransferEdit?TransferNo=' + e.TransferNo + '"  title="Edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></label></td>' +
                                                  '<td></td>' +//

                                                 '</tr>'
                                                 );
                    }
                    else {
                        tableBody.append(
                     '<tr>' +
                       '<td>' + e.RowSL + '</td>' +
                       '<td>' + e.InvestorName + '</td>' +
                      '<td>' + e.Amount + '</td>' +
                       '<td>' + e.TransactionDate + '</td>' +
                      '<td>' + e.SenderReceiver + '</td>' +
                      '<td>' + e.TransferNoAndDate + '<label style="padding-left:60%"><a  href="/Upms/IPOGroup/FundTransferEdit?TransferNo=' + e.TransferNo + '"  title="Edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></label></td>' +
                      '<td><a href="#" title="Delete" onclick="DeleteFundTransfer(' + e.Id + ');" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a></td>' +

                     '</tr>'
                     );
                    }



                });
                table = $('#example').DataTable({
                    "columnDefs": [
                        { "visible": false, "targets":5 }
                    ],
                    "order": [[5, 'asc']],
                    "displayLength": 2000,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({ page: 'current' }).nodes();
                        var last = null;

                        api.column(5, { page: 'current' }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="6">' + group + '</td></tr>'
                                );

                                last = group;
                            }
                        });
                    },
                    paging: false,
                    searching: false,
                    lengthChange: false,
                    "targets": 'no-sort', "bSort": false, "order": []
                });

                $("#AjaxLoader").hide();
                //}

            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }

  //  var table = "";



    function GetFundTransferInformation(InvestorCode, FromDate, ToDate) {


        $("#AjaxLoader").show();
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetFundTransferInformation", "IPOGroup", "http")',
            data: { InvestorCode: InvestorCode, FromDate: FromDate, ToDate: ToDate },
            dataType: 'json',
            async: true,
            success: function (InvInfo) {
               // if (data.Result == "Success") {
                var dtTable = $('#example');
                    var tableBody = dtTable.find('tbody');
                    tableBody.empty();
                    $.each(InvInfo, function (id, e) {

                        if (e.TransferType == "LeaderToMember" && e.SenderReceiver == "Sender" || e.TransferType == "InvestorToInvestor" && e.SenderReceiver == "Sender") {

                            tableBody.append(
                          '<tr>' +
                            '<td>' + e.RowSL + '</td>' +
                            '<td>' + e.InvestorName + '</td>' +
                           '<td>' + e.Amount + '</td>' +
                            '<td>' + e.TransactionDate + '</td>' +
                           '<td>' + e.SenderReceiver + '</td>' +
                           '<td>' + e.TransferNoAndDate + '<label style="padding-left:60%"><a  href="/IPOGroup/FundTransferEdit?TransferNo=' + e.TransferNo + '"  title="Edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></label></td>' +
                           '<td></td>' +

                          '</tr>'
                          );
                        }
                        else if (e.TransferType == "MemberToLeader" && e.SenderReceiver == "Receiver")
                        {
                            tableBody.append(
                                                     '<tr>' +
                                                       '<td>' + e.RowSL + '</td>' +
                                                       '<td>' + e.InvestorName + '</td>' +
                                                      '<td>' + e.Amount + '</td>' +
                                                       '<td>' + e.TransactionDate + '</td>' +
                                                      '<td>' + e.SenderReceiver + '</td>' +
                                                      '<td>' + e.TransferNoAndDate + '<label style="padding-left:60%"><a  href="/Upms/IPOGroup/FundTransferEdit?TransferNo=' + e.TransferNo + '"  title="Edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></label></td>' +
                                                      '<td></td>' +//

                                                     '</tr>'
                                                     );
                        }
                        else
                        {
                            tableBody.append(
                         '<tr>' +
                           '<td>' + e.RowSL + '</td>' +
                           '<td>' + e.InvestorName + '</td>' +
                          '<td>' + e.Amount + '</td>' +
                           '<td>' + e.TransactionDate + '</td>' +
                          '<td>' + e.SenderReceiver + '</td>' +
                          '<td>' + e.TransferNoAndDate + '<label style="padding-left:60%"><a  href="/Upms/IPOGroup/FundTransferEdit?TransferNo=' + e.TransferNo + '"  title="Edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></label></td>' +
                          '<td><a href="#" title="Delete" onclick="DeleteFundTransfer(' + e.Id + ');" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a></td>' +

                         '</tr>'
                         );
                        }




                    });
                     table = $('#example').DataTable({
                        "columnDefs": [
                            { "visible": false, "targets": 5 }
                        ],
                        "order": [[5, 'asc']],
                        "displayLength": 2000,
                        "drawCallback": function (settings) {
                            var api = this.api();
                            var rows = api.rows({ page: 'current' }).nodes();
                            var last = null;

                            api.column(5, { page: 'current' }).data().each(function (group, i) {
                                if (last !== group) {
                                    $(rows).eq(i).before(
                                        '<tr class="group"><td colspan="6">' + group + '</td></tr>'
                                    );

                                    last = group;
                                }
                            });
                        },
                        paging: false,
                        searching: false,
                        lengthChange: false,
                        "targets": 'no-sort', "bSort": false, "order": []
                        //showing: false

                    });

                    $("#AjaxLoader").hide();
                //}

            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }


    function DeleteFundTransfer(Id) {
        $.alert.open('confirm', 'Are you sure you want to DELETE seleted record?', function (button) {
            if (button == 'yes') {
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("DeleteFundTransfer", "IPOGroup", "http")',
                    type: "GET",
                    dataType: "json",
                    async: true,
                    data: { Id: Id },
                    success: function (data) {
                        $("#AjaxLoader").hide();
                        if (data.Result == "Success") {
                            $.alert.open("success", "Delete successfull. ", function () { GetFundTransferInformationEx(InvestorCode = '', FromDate = '', ToDate = ''); });
                        }
                        else {
                            $.alert.open("Error", data.Message);
                        }
                    },
                    failure: function (Result) {
                        $("#AjaxLoader").hide();
                        $.alert.open("error", Result);
                    }
                });
                return true;
            }
            else {
                return false;
            }
        });
    }
   


    $(document).ready(function () {


        GetFundTransferInformation(InvestorCode = '', FromDate = '', ToDate = '');

        $("#btnSearch").click(function (e) {
            e.preventDefault();
            var InvestorCode = $("#SearchTransferorCode").val();
            var FromDate = $("#TrxFromDate").val();
            var ToDate = $("#TrxToDate").val();

            GetFundTransferInformationEx(InvestorCode, FromDate, ToDate);
        });



        ////////////

        //var table = $('#example').DataTable({
        //    "columnDefs": [
        //        { "visible": false, "targets": 4 }
        //    ],
        //    "order": [[4, 'asc']],
        //    "displayLength": 25,
        //    "drawCallback": function (settings) {
        //        var api = this.api();
        //        var rows = api.rows({ page: 'current' }).nodes();
        //        var last = null;

        //        api.column(4, { page: 'current' }).data().each(function (group, i) {
        //            if (last !== group) {
        //                $(rows).eq(i).before(
        //                    '<tr class="group"><td colspan="5">' + group + '</td></tr>'
        //                );

        //                last = group;
        //            }
        //        });
        //    }
        //});

        // Order by the grouping
        //$('#example tbody').on('click', 'tr.group', function () {
        //    var currentOrder = table.order()[0];
        //    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
        //        table.order([2, 'desc']).draw();
        //    }
        //    else {
        //        table.order([2, 'asc']).draw();
        //    }
        //});




    });
</script>

@using (Html.BeginForm("fundTransferList", "IPOGroup", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "IPOGroupForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <div id="AjaxLoader" class="ajaxLoader"></div>
            <div class="panel panel-success panel-custom">
                <div class="page-title">
                    <div class="title_left PageHeader" style="width:80%;">
                        <h3 style="color: white;padding:2px">&nbsp;&nbsp;Fund Transfer</h3>
                    </div>
                    @Html.ActionLink("New Fund Transfer", "Index", "IPOGroup", null, new { @class = "btn btn-primary btn-sm pull-right", @style = "display:true" })
                </div>
                <br />
                <div class="panel-body">
                    <div class="row">
                        <div class="row form-group">
                            @Html.Label("Investor Code", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.Editor("SearchTransferorCode", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.Label("From Date", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                @Html.Editor("TrxFromDate", new { htmlAttributes = new { @class = "form-control DateInput check-date" } })
                            </div>
                            @Html.Label("To Date", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                @Html.Editor("TrxToDate", new { htmlAttributes = new { @class = "form-control DateInput check-date" } })
                            </div>
                            <div class="col-md-1">
                                <input type="button" name="btnSubmit" id="btnSearch" class="btn btn-sm btn-primary" value="Search" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 info-container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @*<div id="grid"> </div>*@
                                    <table id="example" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Investor Name</th>
                                                <th>Amount</th>
                                                <th>Transaction Date</th>
                                                <th>Sender/Receiver</th>
                                                <th>TransferNoAndDate</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@*<style>
    .k-footer-template {
        height: 20px !important;
        color: aqua;
    }

    .bordercss {
        border: 3px double #CCCCCC;
        color: black;
    }

        .bordercss:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            border: 2px solid rgba(81, 203, 238, 1);
        }

    .k-grouping-header {
        background-color: #1ABB9C;
    }
</style>
<link href="~/Content/css/bpopupStyle.css" rel="stylesheet" />
<script src="~/Content/js/jquery.bpopup.min.js"></script>
<script type="text/javascript">

    function GetFundTransferInfoBeforeApprove(GroupId,FromDate,ToDate) {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetFundTransferInfo_Before_Approve_Userwise", "IPOGroup", "http")',
                    dataType: "json",
                    data: { GroupId: GroupId,FromDate:FromDate,ToDate:ToDate }
                }
            },
            pageSize: 10000,
        });
        $("#grid").kendoGrid({
            dataSource: dataSource,
            height: 600,
            groupable: true,
	    reorderable: true,
	    filterable: true,
	    sortable: true,
	    resizable: true,
	    columnMenu: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [{
                field: "Id",
                hidden: true,
                filterable: false
            },

            {
                field: "RowSl",
                title: "SL",
                width:"5%"
            },
            {
                field: "TransferNo",
                title: "Transfer No",
                width: "8%"

            },
             {
                 field: "Transferor_InvestorName",
                 title: "Transferor Name",
             },
             {
                 field: "Transferee_InvestorName",
                 title: "Transferee Name",
             },
              {
                  field: "GroupName",
                  title: "GroupName",
                  hidden: true
              },
               {
                   field: "Amount",
                   title: "Amount",
                   width: "10%"
               },
            {
                field: "TransactionDate",
                title: "Transaction Date",
                width: "15%"
            },
             {
                 field: "BrokerBranchName",
                 title: "Broker Branch",
                 hidden :true
             },

            {
                field: "Comments",
                title: "Comments",
                width: "12%"
            },
            {
                title: "Action",
                width: "10%",
                template: function (dataItem) {

                    return '<a href="#" title="Edit" onclick="EditFundTransfer(' + dataItem.Id + ',' + dataItem.TransferorInvestorId + ',' + dataItem.TransfereeInvestorId + ',' + dataItem.CurrentBalance + ',' + dataItem.Amount + ',' + "'" + dataItem.Transferor_InvestorName + "'" + ',' + "'" + dataItem.Transferee_InvestorName + "'" + ',' + "'" + dataItem.TransactionDate + "'" + ',' + "'" + dataItem.Comments + "'" + ')" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></a>'
                }
            },
            ],
        });
    }

    function EditFundTransfer(Id, TransferorInvestorId, TransfereeInvestorId, CurrentBalance, Amount, Transferor_InvestorName, Transferee_InvestorName, TransactionDate, Comments) {
        //Comments TransactionDate  hdnTransferorId hdnTransfereeId TransferorCode Balance  TransfereeCode Amount

        $("#hdnTransfer_Id").val(Id);
        $("#hdnTransferorId").val(TransferorInvestorId);
       
        $("#hdnTransfereeId").val(TransfereeInvestorId);
        $("#Balance").val(CurrentBalance);
        $("#Amount").val(Amount);
        $("#TransactionDate").val(TransactionDate);

        $("#TransferorCode").val(Transferor_InvestorName);
        $("#TransfereeCode").val(Transferee_InvestorName);
        $("#Comments").val(Comments);

        $('#element_to_pop_up').bPopup({
            speed: 450,
            transition: 'slideDown'
        });
    }

    function GetTransferorCode() {

        var InvestorCode = $('#TransferorCode').val().trim().indexOf("-") > 0 ? $('#TransferorCode').val().trim().split("-")[0].trim() : $('#TransferorCode').val().trim();// $('#TransferorCode').val();

        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetInvestorByCode", "IPOGroup", "http")',
            type: "GET",
            dataType: "json",
            async: true,
            data: { InvestorCode: InvestorCode },
            success: function (InvInfo) {

                if (InvInfo.length == 1) {
                    $.each(InvInfo, function (id, option) {

                        //$("#TransfereeCode").val("");
                        //$("#hdnTransfereeId").val(0)
                        $("#TransferorCode").val(option.InvestorCode);
                        $("#hdnTransferorId").val(option.Id)
                        $("#Balance").val(option.CurrentBalance);

                        //if ($("#hdnTransfereeId").val() != option.Id) {
                        //    $("#TransferorCode").val(option.InvestorCode);
                        //    $("#hdnTransferorId").val(option.Id)
                        //    $("#Balance").val(option.CurrentBalance);
                        //}
                        //else {
                        //    //$("#TransferorCode").val("");
                        //    $("#TransfereeCode").val("");
                        //    $("#hdnTransfereeId").val(0)
                        //    //$.alert.open("error", "Invalid operation!");
                        //}

                    });
                }
                else {
                    $("#TransferorCode").val("");
                    $.alert.open("info", "Not found!");
                }

            },
            failure: function () {
                $.alert.open("error", "Failed!");
            }
        });
    }

    function GetTransfereeCode() {

        var InvestorCode = $('#TransfereeCode').val().trim().indexOf("-") > 0 ? $('#TransfereeCode').val().trim().split("-")[0].trim() : $('#TransfereeCode').val().trim(); //$('#TransfereeCode').val();

        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetInvestorByCode", "IPOGroup", "http")',
            type: "GET",
            dataType: "json",
            async: true,
            data: { InvestorCode: InvestorCode },
            success: function (InvInfo) {
                if (InvInfo.length == 1) {
                    $.each(InvInfo, function (id, option) {
                        if ($("#hdnTransferorId").val() != option.Id) {
                            $("#TransfereeCode").val(option.InvestorCode);
                            $("#hdnTransfereeId").val(option.Id)
                        }
                        else {
                            $("#TransfereeCode").val("");
                            $.alert.open("error", "Invalid operation!");
                        }
                    });
                }
                else {
                    $("#TransfereeCode").val("");
                    $.alert.open("info", "Not found!");
                }


            },
            failure: function () {
                $.alert.open("error", "Failed!");
            }
        });
    }

    $(document).ready(function () {

        GetFundTransferInfoBeforeApprove(GroupId = 0,FromDate = '',ToDate = '');

        $("#btnSearch").click(function (e) {
            e.preventDefault();
             
             var FromDate = $("#TrxFromDate").val();
             var ToDate = $("#TrxToDate").val();
            var GroupId = $("#ddlGroupList").val() == "" ? "0" : $("#ddlGroupList").val();
            GetFundTransferInfoBeforeApprove(GroupId, FromDate, ToDate);

        });

        $("#TransferorCode").blur(function () {
            if ($('#TransferorCode').val() != "") {
                GetTransferorCode();
            }
        });

        $("#TransfereeCode").blur(function () {
            if ($('#TransfereeCode').val() != "") {
                GetTransfereeCode();
            }
        });

        $("#btnSubmit").click(function (e) {
            e.preventDefault();

            var TransferId = $("#hdnTransfer_Id").val() == null ? "0" : $("#hdnTransfer_Id").val();
            var TransferorId = $("#hdnTransferorId").val();
            var TransfereeId = $("#hdnTransfereeId").val();
            var Amount = parseFloat($("#Amount").val());
            var Comments = $("#Comments").val();

            if (TransferorId != 0 && TransfereeId != 0 && Amount != "") {
                if ($("#Balance").val() >= Amount)
                {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("SaveFundTransfer", "IPOGroup", "http")',
                        type: "GET",
                        dataType: "json",
                        async: true,
                        data: { TransferId: TransferId, TransferorId: TransferorId, TransfereeId: TransfereeId, Amount: Amount, Comments: Comments },
                        success: function (Result) {
                            $("#pop_close").trigger("click");
                          
                            $("#hdnTransfer_Id").val(0);
                            if (Result == "1") {
                                $("#hdnTransferorId").val(0);
                                $("#hdnTransfereeId").val(0);
                                $('#TransfereeCode').val("");
                                $('#TransferorCode').val("")
                                $("#Balance").val(0);
                                $("#Amount").val(0);
                                $("#Comments").val("");
                                var FromDate = $("#TrxFromDate").val();
                                var ToDate = $("#TrxToDate").val();
                                var GroupId = $("#ddlGroupList").val() == "" ? "0" : $("#ddlGroupList").val();
                                GetFundTransferInfoBeforeApprove(GroupId, FromDate, ToDate);
                               
                                $.alert.open("success", "Save successfull");
                            }
                            else {
                                $("#pop_close").trigger("click");
                                $.alert.open("error", Result);
                            }

                        },
                        failure: function (Result) {
                            $("#pop_close").trigger("click");
                            $.alert.open("error", Result);
                        }
                    });
                }
                else
                {
                    $("#pop_close").trigger("click");
                    $.alert.open("error", "insufficient balance");
                }
            }
            else {
                $("#pop_close").trigger("click");
                $.alert.open("error", "Insert required field");
            }


        });

    });
</script>
@using (Html.BeginForm("AccCollApprove", "AccCollection", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "EmployeeInfoForm" }))
{
    @Html.AntiForgeryToken()
    <div class="page-title">
        <div class="title_left PageHeader" style="width:80%;">
            <h4 style="color: white;padding:2px">&nbsp;&nbsp;&nbsp; Non Approve Fund Transfer</h4>
        </div>
        @Html.ActionLink("New Fund Transfer", "Index", "IPOGroup", null, new { @class = "btn btn-primary btn-sm pull-right" })
    </div>
    <div id="AjaxLoader" class="ajaxLoader"></div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row form-group"> 
                        @Html.Label("IPO Group", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            @Html.DropDownList("IPOGroupList", new SelectList(ViewBag.IPOGroupList, "Id", "GroupCode"), "All", new { @id = "ddlGroupList", @class = "form-control bordercss" })
                        </div>
                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.Editor("TrxFromDate", new { htmlAttributes = new { @class = "form-control DateInput check-date"} })
                        </div>
                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.Editor("TrxToDate", new { htmlAttributes = new { @class = "form-control DateInput check-date" } })
                        </div>
                        <div class="col-md-1">
                            <input type="button" name="btnSubmit" id="btnSearch" class="btn btn-sm btn-info" value="Search" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div id="grid"> </div>
                    </div>
                    <br />

                    <div id="AjaxLoader" class="ajaxLoader"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}


<div id="element_to_pop_up" style="height:50%;width:80%; background: #FFFFFF;">
    <a id="pop_close" class="b-close">x</a>
    <asp:Label ID="Label17" runat="server" Text="Result Details" CssClass="lblStyle"></asp:Label>
    <br />


    <div class="row">
        <div class="col-sm-12">
            <div id="AjaxLoader" class="ajaxLoader"></div>
            <div class="panel panel-success panel-custom">
                <div class="page-title">
                    <div class="title_left PageHeader" style="width:90%;">
                        <h3 style="color: white;padding:2px">&nbsp;&nbsp;Fund Transfer Edit</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <input type="hidden" id="hdnTransfer_Id" />
                    <input type="hidden" id="hdnTransferorId" />
                    <input type="hidden" id="hdnTransfereeId" />
                    <div class="row">
                        <div class="col-sm-12 info-container">
                            <br />
                            <div class="row">
                                <div class="row form-group">
                                    @Html.Label("Transferor Code", htmlAttributes: new { @class = "control-label col-md-2 text-right required" })
                                    <div class="col-md-4">
                                        @Html.Editor("TransferorCode", new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus" } })
                                    </div>

                                    @Html.Label("Balance", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
                                    <div class="col-md-4">
                                        @Html.Editor("Balance", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row form-group">
                                    @Html.Label("Transferee Code", htmlAttributes: new { @class = "control-label col-md-2 text-right required" })
                                    <div class="col-md-4">
                                        @Html.Editor("TransfereeCode", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                    @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-1 text-right required" })
                                    <div class="col-md-4">
                                        @Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row form-group">
                                    @Html.Label("Transaction Date", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
                                    <div class="col-md-4">
                                        @Html.Editor("TransactionDate", new { htmlAttributes = new { @class = "form-control DateInput check-date", @Value = @ViewData["BusinessDate"], @readonly = "readonly" } })
                                    </div>

                                    @Html.Label("Comments", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
                                    <div class="col-md-4">
                                        @Html.Editor("Comments", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-11 text-center">
                                    <input type="button" name="btnSubmit" id="btnSubmit" class="btn btn-sm btn-success" value="Submit" />
                                </div>
                            </div>

                        </div>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>


</div>*@