@using Common.Data.CommonDataModel
@{
    ViewBag.Title = "Introducer wise report";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
    var businessDay = (DateTime)ViewBag.BusinessDate;
    var reports = (List<ReportInformation>)ViewBag.Reports;
    var employees = (List<BrokerEmployee>)ViewBag.Employees;
}
<style type="text/css">
    .panel-custom > .panel-heading {
        /*background: #26B99A !important;*/
        color: #FFFFFF !important;
    }

    .panel-custom .panel-body .row:not(:last-child) {
        margin-bottom: 10px;
    }

    .panel-custom .panel-body .radio {
        margin-top: 0px;
    }

    .panel-custom .panel-body .radio-text, .panel-custom .panel-body input[type=text] {
        color: #73879C;
    }

    .panel-custom .label-container {
        text-align: right;
    }

    input[type=text]:read-only {
        background: #FFFFFF;
        cursor: default;
    }

    #error > .panel {
        margin-bottom: 20px;
    }

        #error > .panel > .panel-heading {
            padding: 0px 5px 0px 15px;
        }

    .radio-container label {
        cursor: pointer;
        padding: 5px;
    }

        .radio-container label.active {
            background: #0e73a9;
            border-radius: 4px;
            /*margin-left: 10px;*/
        }

            .radio-container label.active span.radio-text {
                color: #FFFFFF;
            }

    .bordercss {
        border: 3px double #CCCCCC;
        color: black;
    }

        .bordercss:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            border: 2px solid rgba(81, 203, 238, 1);
        }

    .loader {
        border: 16px solid #1ABB9C;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 40%;
        left: 40%;
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-success panel-custom">
            <div class="panel-heading PageHeader">
                <h3 class="panel-title">Introducer Wise Report</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 label-container">
                        @Html.Label("Report Name :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10 radio-container">
                        <div class="row">
                            @for (var r = 0; r < reports.Count; r++)
                            {
                                <label class="col-sm-6 @(r==0?"active":"")">
                                    <input type="radio" class="radio radio-inline" @(r == 0 ? "checked='checked'" : "") name="fileType" value="@reports[r].SerialNo" /> <span class="radio-text">@reports[r].ReportName</span>
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <div class="row" id="divDateRange">
                    <div class="col-sm-2 label-container">
                        @Html.Label("From Date :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        <input type="text" placeholder="dd/mm/yyyy" name="transactionDateFrom" id="txtTransactionDateFrom" class="input-sm form-control DateInput check-date" required="required" value="@businessDay.ToString("dd/MM/yyyy")" />
                    </div>
                    <div class="col-sm-2 label-container">
                        @Html.Label("To Date :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-3">
                        <input type="text" placeholder="dd/mm/yyyy" name="transactionDateTo" id="txtTransactionDateTo" class="input-sm form-control DateInput check-date" required="required" value="@businessDay.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 label-container">
                        @Html.Label("Employee :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        <select class="input-sm form-control" id="cmbEmployee">
                            <option value="0">Select Employee</option>
                            @foreach (var emp in employees)
                            {
                                <option value="@emp.Id">@emp.EmployeeName-@emp.EmployeeCode</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 label-container">
                        @Html.Label("Report Type :", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-8">
                        <select class="input-sm form-control bordercss" id="cmbReportType">
                            <option value="Pdf" selected="selected">Pdf</option>
                            <option value="ExcelBook">Microsoft Excel</option>
                            <option value="Excel">Microsoft Excel (97-2003)</option>
                            <option value="ExcelData">Microsoft Excel (97-2003) Data-Only</option>
                            <option value="Word">Microsoft Word (97-2003)</option>
                            <option value="XML">XML</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" name="btnShow" id="btnShow" class="btn btn-sm btn-success" value="Show" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" id="divLoader" style="display: none;"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[type=radio][name=fileType]").on("change", function () {
            $(".radio-container label").removeClass("active");
            $("input[type=radio][name=fileType]:checked").parents("label").addClass("active");
        });
        $(document).on("click", "#btnShow", function () {
            if ($("input[type=radio][name=fileType]:checked").length == 0) {
                $.alert.open("Warning!", "No report selected.");
                return false;
            }
            var reportNo = parseInt($("input[type=radio][name=fileType]:checked").val());
            var fromDate = $("#txtTransactionDateFrom").val().trim();
            var toDate = $("#txtTransactionDateTo").val().trim();
            var reportType = $("#cmbReportType").val();
            var employeeId = $("#cmbEmployee option:selected").val();
            if (fromDate == "") {
                $.alert.open("Error", "Please enter from date.");
                return false;
            }
            if (toDate == "") {
                $.alert.open("Error", "Please enter from date.");
                return false;
            }
            if (reportNo == 1)
                window.open('/UPMS/Report/ShowIntroducerWiseNetBrokerage?fromDate=' + fromDate + '&toDate=' + toDate + '&employeeId=' + employeeId + '&isSummary=0&type=' + reportType + "&reportNo=" + reportNo);
            else if (reportNo == 2)
                window.open('/UPMS/Report/ShowIntroducerWiseNetBrokerage?fromDate=' + fromDate + '&toDate=' + toDate + '&employeeId=' + employeeId + '&isSummary=1&type=' + reportType + "&reportNo=" + reportNo);
            else if (reportNo == 3)
                window.open('/UPMS/Report/ShowIntroducerWiseCashChequeShareIn?fromDate=' + fromDate + '&toDate=' + toDate + '&employeeId=' + employeeId + '&inOut=0&type=' + reportType + "&reportNo=" + reportNo);
            else if (reportNo == 4)
                window.open('/UPMS/Report/ShowIntroducerWiseCashChequeShareIn?fromDate=' + fromDate + '&toDate=' + toDate + '&employeeId=' + employeeId + '&inOut=1&type=' + reportType + "&reportNo=" + reportNo);

            return true;
        });
    });
</script>